# dependencies
node_modules/

# Next.js (monorepo safe)
.next/
apps/**/.next/
out/
apps/**/out/

# build
build/
dist/

# testing
coverage/

# env
.env*
apps/backend/config/.env

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
